#slideshow {
    position:relative;
    width: 640px;
    height: 360px;
    overflow:hidden;
    margin: 50px auto;
    box-shadow: 0 0 15px #000;
    -o-box-shadow: 0 0 15px #000;
    -moz-box-shadow: 0 0 15px #000;
    -webkit-box-shadow: 0 0 15px #000;
  }

  #slideshow.background{
    position:fixed;
    top:0px;
    z-index:-1;
    width: 100%;
    height: 100%;
    overflow:hidden;

  }

  #slideshow img {
    max-width: none;
    position:absolute;
    width:105%;
    height:105%;
    top:50%;
    left:50%;
    margin-left:-55%;
    margin-top:-30%;
    opacity:0;
    -webkit-transition-property: opacity, -webkit-transform;
    -webkit-transition-duration: 3s, 38s;
    -moz-transition-property: opacity, -moz-transform;
    -moz-transition-duration: 3s, 38s;
    -o-transition-property: opacity, -o-transform;
    -o-transition-duration: 3s, 38s;
    transition-property: opacity, transform;
    transition-duration: 3s, 38s;
    filter: brightness(50%);

  }
  #slideshow img  {
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    transform-origin: bottom left;
  }
  #slideshow :nth-child(2n+1) {
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
  }
  #slideshow :nth-child(3n+1) {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
  }
  #slideshow :nth-child(4n+1) {
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -o-transform-origin: bottom right;
    transform-origin: bottom right;
  }
  #slideshow .fx:first-child + img ~ img {
      z-index:-1;
  }
  #slideshow .fx {
    -webkit-transform: scale(1.25) translate(30px);
    -moz-transform: scale(1.25) translate(30px);
    -o-transform: scale(1.25) translate(30px);
    transform: scale(1.25) translate(30px);
    opacity:1;
  }