body {
    /* background: unset; */
  }
  
  ul {
    list-style-type: none;
  }
  
  span {
    font-weight: bold;
  }
  
  .card {
    background: linear-gradient(to bottom right, #330066, #5c00e6, #0000cc, #330066);
    /*   border-radius: 5px; */
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.36);
    border: solid black 1px;
    padding: 8px;
    border-radius: 8px;

    width: 100%;
    /* position:fixed;
    top:10%;
    left:40%; */


    /* transform: perspective(1000px);
    transform-style: preserve-3d; */
  }
  .to-corner{
    top:10%;
    left:75%;
    transition: all 0.3s ease-in-out;
  }
  .decorativex {
    background: linear-gradient(to bottom right, red, yellow);
    border-radius: 4px;
    border: 1px black;
    box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.36);
    padding: 5px;
  }
  
  .top {
    text-shadow: 2px 2px #030303;
  }
  .borderx {
    background: linear-gradient(to bottom right, rgb(165, 36, 36), rgb(40, 111, 151));      
    min-height: 30%;

    border-radius: 4px;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.17);
    border: solid black 2px;
  }
  .border-img {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover; 
    background-repeat:no-repeat;
  }
  
  .name {
    border: solid black 2px;
    border-radius: 4px;
    background-color: rgba(77, 51, 25, 0.3);
    /*   box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.36); */
    color: white;
    display: inline-block;
    padding: 11px;
    box-sizing: border-box;
    width:100%;
  }

  .name.searchable:after{ 
    content:'\1F50D';
    font: 2.0em/0 monospace;
    padding:2px;
    text-decoration:none;
    position: fixed;
    top:30px;
    right:10px;
 
 } 

  .middle{
      
  }
  
  .middle div {
    min-height: 300px;
    width: 100%; 
    /* position:fixed;
    margin-top:-90%; */
    background-position: center center;
    background-size: contain; 
    background-repeat:no-repeat;
  }
  .wheelx{
    padding: 2px;
  }
  .wheelx img {
    height: auto;
    width: 100%;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.17);

    margin: 7px;
    position:fixed;
    margin-top:100%;
  } 
  .bottom {
    border: solid black 2px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.17);
    padding: 2px;
    margin: 7px;
    color: white;
    background-color: rgba(77, 51, 25, 0.69);
    font-family: monospace;
    text-shadow: 2px 2px #030303;
    font-size: larger;
  }
  .bottom ul{
      padding: 5px;
  }
  .interesting_fact {
    font-style: italic;
  }
  
  .description {}
  
  .info {}
  
  
  .name h3 {
    font-size: 20px;
    font-family: "Papyrus";
    text-align: center; 
    margin: 0 auto;
  }