doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/scripts/jquery.flipster/dist/jquery.flipster.min.css')
    link(rel='stylesheet', href='/scripts/swiper/css/swiper.min.css')
    script(src='/jquery/jquery.js')
    script(src='/scripts/jquery-ui-dist/jquery-ui.min.js')

    link(rel='stylesheet', href='/scripts/jquery-contextmenu/dist/jquery.contextMenu.min.css')
    script(src='/scripts/jquery-contextmenu/dist/jquery.contextMenu.min.js')


    //script(src='/scripts/jquery.flipster/dist/jquery.flipster.min.js')
    script(src='/scripts/swiper/js/swiper.min.js')
    script(src='/scripts/swiper/js/reflection.js')
    script(src='/scripts/list.js/dist/list.min.js')
    script(src='/scripts/fuse.js/dist/fuse.js')

    link(rel='stylesheet', href='/stylesheets/main.css')

    link(rel='stylesheet', href='/scripts/@fortawesome/fontawesome-free/css/all.min.css')
    
    link(rel='stylesheet', href='/scripts/tabulator-tables/dist/css/tabulator_midnight.min.css')
    script(src='/scripts/tabulator-tables/dist/js/tabulator.min.js')

  body
    block content