doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/scripts/jquery.flipster/dist/jquery.flipster.min.css')
    link(rel='stylesheet', href='/scripts/swiper/css/swiper.min.css')
    script(src='/jquery/jquery.js')
    //script(src='/scripts/jquery.flipster/dist/jquery.flipster.min.js')
    script(src='/scripts/swiper/js/swiper.min.js')
    script(src='/scripts/swiper/js/reflection.js')
    script(src='/scripts/list.js/dist/list.min.js')
    script(src='/scripts/fuse.js/dist/fuse.js')

    link(rel='stylesheet', href='/stylesheets/main.css')

  body
    block content