extends layout


block content
  h1= Master

  div(style='width:100%;height:100%')
    div(style:'float:left')
    each item in items
      div(style='width:10%;height:100px;float:left;display:inline-block')
        img(src="/wheels/?search="+item.name+"&imageIndex=0", alt=item.name style="display:block;width:100%;height:auto;")
        h2=item.name

  script.


    
