extends layout


block content
  h1= Tables

  button(onClick="updateTable()" style="z-index:12") click me
  div(style='position:absolute;left:10px;right:10px;bottom:10px;top:50px')
    div.tables-table
   
  script.

    function updateTable(table,data)
    {
        $.ajax({
              type: "POST",
              url: "/tables/update",
              dataType: "json",
              contentType: "application/json; charset=utf-8",
              data:JSON.stringify({table: table, data: data})
        }).done(function ( data ) {
                  console.log("ajax callback response:"+JSON.stringify(data));
        })
    }
      var table = new Tabulator(".tables-table", 
        {
        height:"100%", // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        layout:"fitDataStretch",
        //pagination:"local",
        //paginationSize:30,
        //paginationSizeSelector:[30, 60, 80, 100],
        columns:[ //Define Table Columns
            {title:"Id", field:"id"},
            {title:"File Name", field:"tableName"},
            {title:"Master", field:"masterName",formatter:"link",cellClick:function(e, cell){
                //alert("Click: " + cell.getRow().getData()["table"] )
                }
            },
            {title:"Suggested Master", field:"suggestedMaster",cellClick:function(e, cell){
                console.log("Click: " + cell.getRow().getData()["table"] );
                updateTable(cell.getRow().getData()["table"],{
                    masterName:cell.getRow().getData()["suggestedMaster"]
                    });
                }
            },
            //{title:"Backglass", field:"backglass", align:"center", formatter:"tickCross", headerVertical:true},
            //{title:"FS Pic", field:"fsPic", align:"center", formatter:"tickCross",  headerVertical:true},
            //{title:"BG Pic", field:"fsPic", align:"center", formatter:"tickCross", headerVertical:true},
            //{title:"DT Pic", field:"fsPic", align:"center", formatter:"tickCross", headerVertical:true},
            //{title:"Wheel Pic", field:"wheelPic", align:"center", formatter:"tickCross", headerVertical:true},
            //{title:"Icon", field:"wheelSmallPic", align:"center", formatter:"tickCross", headerVertical:true},

            //{title:"Folder Name", field:"tableFolder"},
            {title:"Full File Name", field:"table"},
            //{title:"Master Name", field:"type"},
            //{title:"Master Varient", field:"type"},
            //{title:"Date", field:"date", sorter:"date", align:"center"},
            //{title:"Comment", field:"comment", align:"left",width:"100"},
            //{title:"Author", field:"author"},
        ]
        });

    table.setData('/tables/?json=1');


    /*var tables = !{JSON.stringify(tables)}*/
    
