extends layout


block content
  h1= Backglasses

  div(style='width:100%;height:100%')
    div(style:'float:left')
    each item in items
      div(style='width:20%;height:400px;float:left;display:inline-block;filter: drop-shadow(22px 22px 22px rgba(0,0,0,1.0));')
        img(src="/backglasses/?image="+item.file, alt=item.name style="display:block;width:100%;height:auto;")
    //img.backglass(src=image style="position:absolute;left:0px;top:0px;width:100%;height:100%")
    //div.swiper-pagination
  script.
    window.searchBoxfilterFunction =function ()
    {
      let filter = $("#menu-search-box").val();
      
      window.history.pushState({id: 'homepage'},'Home | My App','?search='+filter);

    }

    /*var tables = !{JSON.stringify(tables)}*/
    
