doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/scripts/jquery.flipster/dist/jquery.flipster.min.css')
    link(rel='stylesheet', href='/scripts/swiper/css/swiper.min.css')
    script(src='/jquery/jquery.js')
    script(src='/scripts/jquery-ui-dist/jquery-ui.min.js')

    link(rel='stylesheet', href='/scripts/jquery-contextmenu/dist/jquery.contextMenu.min.css')
    script(src='/scripts/jquery-contextmenu/dist/jquery.contextMenu.min.js')

    link(rel='stylesheet', href='/scripts/dropzone/dist/min/dropzone.min.css')
    script(src='/scripts/dropzone/dist/min/dropzone.min.js')

    //- link(rel='stylesheet', href='/scripts/filepond/dist/filepond.min.css')
    //- script(src='/scripts/filepond/dist/filepond.min.js')

    //script(src='/scripts/jquery.flipster/dist/jquery.flipster.min.js')
    script(src='/scripts/swiper/js/swiper.min.js')
    //- script(src='/scripts/swiper/js/reflection.js')
    script(src='/scripts/list.js/dist/list.min.js')
    script(src='/scripts/fuse.js/dist/fuse.js')

    script(src='/js/bootstrap.bundle.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')

    link(rel='stylesheet', href='/scripts/@fortawesome/fontawesome-free/css/all.min.css')
    
    link(rel='stylesheet', href='/scripts/tabulator-tables/dist/css/tabulator_midnight.min.css')
    script(src='/scripts/tabulator-tables/dist/js/tabulator.min.js')

  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href="/") PinFE
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          //- li.nav-item.active
          //-   a.nav-link(href="/")
          //-     | Home 
          //-     span.sr-only (current)
          //- li.nav-item
          //-   a.nav-link(href="#") Link
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              | View
            .dropdown-menu(aria-labelledby="navbarDropdown")
              a.dropdown-item(href="/") Flow (Cab)
              a.dropdown-item(href="/?view=dt") Flow (Desktop) 
              a.dropdown-item(href="/grid") Grid View 
              .dropdown-divider
              a.dropdown-item(href="/playfield") Playfield
              a.dropdown-item(href="/wheel") Wheel
              a.dropdown-item(href="/backglass") Backglass
              a.dropdown-item(href="http://localhost:9090/") DMD
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              | Library
            .dropdown-menu(aria-labelledby="navbarDropdown")
              a.dropdown-item(href="/games") Games
              a.dropdown-item(href="/tables") Tables
              a.dropdown-item(href="/wheels") Wheels
              a.dropdown-item(href="/backglasses") Backglasses
              a.dropdown-item(href="/master") Master
              .dropdown-divider
              a.dropdown-item(href="#") Settings
              a.dropdown-item(href="http://localhost:3030") Storage
        //- form.form-inline.my-2.my-lg-0
        //-   input.form-control.mr-sm-2(id="menu-search-box" type="search"  placeholder="Search" aria-label="Search")
          //- button.btn.btn-outline-success.my-2.my-sm-0(type="submit" ) Search
        div.status() None

        button.btn(id='speech' onClick='talkWithApp()')
          i.fa.fa-microphone(aria-hidden="true")
          div.pulse-ring(style='display:none')
    button.btn(id='fstoggle' )
      i.fas.fa-expand(aria-hidden="true")    
    div.spinner(style="display:none;")     
      div.d-flex.justify-content-center.align-items-center(style="z-index: 10;position: absolute;width: 100%;height: 100%;background: #00000059;")
        span.spinner-border(style="width: 13rem; height: 13rem;" role="status" aria-hidden="true")       
    block content

    script.
      $('#fstoggle').on('click',function() {
        if(document.fullscreenElement||document.webkitFullscreenElement||document.mozFullScreenElement||document.msFullscreenElement) { //in fullscreen, so exit it
          if(document.exitFullscreen) {
            document.exitFullscreen();
          } else if(document.msExitFullscreen) {
            document.msExitFullscreen();
          } else if(document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
          } else if(document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
          }
        } else { //not fullscreen, so enter it
          if(document.documentElement.requestFullscreen) {
            document.documentElement.requestFullscreen();
          } else if(document.documentElement.webkitRequestFullscreen) {
            document.documentElement.webkitRequestFullscreen();
          } else if(document.documentElement.mozRequestFullScreen) {
            document.documentElement.mozRequestFullScreen();
          } else if(document.documentElement.msRequestFullscreen) {
            document.documentElement.msRequestFullscreen();
          }
        }
      });


