extends layout


block content
  h1= Master

  div
    div.master-table(style="margin-top:140px")

  script.

    var table = new Tabulator(".master-table", 
        {
        height:"1000px", // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        layout:"fitColumns",
        //pagination:"local",
        //paginationSize:100,
        //paginationSizeSelector:[30, 60, 80, 100],
        columns:[ //Define Table Columns
            {title:"Id", field:"id"},
            {title:"Name", field:"name"},
            {title:"Type", field:"type"},
            {title:"ROM", field:"rom"},
            {title:"Date", field:"date", sorter:"date", align:"center"},
            {title:"Version", field:"version"},
            {title:"Comment", field:"comment", align:"left",width:"100"},
            {title:"Author", field:"author"},
        ]
        });

    table.setData('/master/?json=1');
    //$("#example-table").tabulator("setData", !{JSON.stringify(items)});
    
